.container{
    width: 28%;
    background-color: royalblue;
    margin: auto;
    padding: 5%;
    border-radius: 6%;
   box-shadow: 4px 4px 10px teal;



}


#one{
    background-color: blanchedalmond;
    height:300px;
    width:300px;
    border-radius: 26%;
    border:double;
    padding-top:25px;
    padding-left: 60px;
    margin:auto;
}
#res {
    width: 150px;
    height: auto;
    border-radius: 20px;
    
}

#one:hover{
    background-color: brown;
    color:aliceblue;
}
