#one{
    background-color: aqua;
    width:200px;
    height:200px;
    position: static;
}
#two{
    background-color: brown;
    width:200px;
    height:200px;
    position: relative;
     top: 20px; 
     left: 30px; 
     background: lightgreen;
  
}
#three{
    background-color:blueviolet;
    width:200px;
    height:200px;
    position: sticky;
}
#four{
    background-color:goldenrod;
    width:200px;
    height:200px;
    position: absolute;
}